data/Saisons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/Xarkam/poesieland/ns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c" type="xs:string"/>
  <xs:element name="sous-cat" type="xs:string"/>
  <xs:element name="vers" type="xs:string"/>
  <xs:element name="titre" type="xs:string"/>
  <xs:element name="info" type="xs:string"/>
  <xs:element name="summary" type="xs:string"/>
  <xs:element name="longueur-vers" type="xs:string"/>
  <xs:element name="premier" type="xs:string"/>
  <xs:element name="deuxieme" type="xs:string"/>
  <xs:element name="date">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="([0-9]{2}\.[0-9]{2}\.[0-9]{4})|([0-9]{4})"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
  <xs:element name="categorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:c" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:sous-cat" maxOccurs="unbounded" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:vers" maxOccurs="unbounded" minOccurs="1" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="poeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:titre" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:date" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:categorie" maxOccurs="unbounded" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:longueur-vers" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:info" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:acrostiche" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:para" maxOccurs="unbounded" minOccurs="1" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="required"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="acrostiche">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="ns:premier" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:deuxieme" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Saison">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:summary" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:info" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
        <xs:element ref="ns:poeme" maxOccurs="unbounded" minOccurs="1" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
      </xs:sequence>
      <xs:attribute type="xs:integer" name="id" use="required"/>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="nombre" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Saisons">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:Saison" maxOccurs="unbounded" minOccurs="0" xmlns:ns="https://github.com/Xarkam/poesieland/ns"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>